name: Release Drafter

on:
  push:
    branches:
      - dev
      - ci_release_pipeline
  pull_request:
    types: [closed]
    branches:
      - dev
  workflow_dispatch:

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read

    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
